body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #eaeaea;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3f3f7f;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color:white
  }

  .navbar .nav-links a {
    margin: 0 10px;
    color: #eaeaea;
    text-decoration: none;
  }
  
  .navbar .search-profile {
    display: flex;
    align-items: center;
  }
  
 .search-bar {
    padding: 5px;
    margin-right: 10px;
  }

 .profile-btn {
    background-color: #5c5c99;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .main-content {
    display: flex;
    margin: 20px;
    justify-content: center;
  }
  
  .left-section, .right-section {
    width: 50%;
    padding: 10px;
  }
  
  .category, .watchlist, .recent-discussions {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #282852;
    border-radius: 8px;
  } 
  
  .category h2, .watchlist h2, .recent-discussions h2 {
    margin-bottom: 10px;
  } 
  
  .game-item, .watchlist-item, .discussion {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .add-btn {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  } 
  .view-all-btn {
    display: block;
    margin: 10px auto 0;
    padding: 5px 10px;
    background-color: #5c5c99;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .game-slider {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px 0;
  }
  
  .gameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    background-color: #282852;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
  }
  
  .gameCard img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .gameTitle {
    margin: 10px 0;
    color: #eaeaea;
  }
  
  .edit-btn {
    margin: 20px 30px;
    padding: 5px 20px;
    margin-left: 80px;
  }

  .remove-btn {
    margin: 20px 0px;
    padding: 5px 7px
  }

  .game-item {
    background-color: #3f3f7f;
    padding: 10px 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .game-item p {
    color: rgb(255, 255, 255);
    margin-left: 15px;
  }